:root {
  --clr-blue: hsl(201, 80%, 46%);
  --clr-blue-dark: hsl(218, 71%, 27%);

  --clr-gray: hsl(0, 0%, 92%);
  --clr-gray-light: hsl(0, 0%, 97%);
  --clr-gray-dark: hsl(0, 0%, 44%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 10%);
}
